
.DS_Store
Data/hotel_bookings.csv
Data/.Rhistory
.Rproj.user
Code/.RData
Code/.Rhistory
Data/Graphs/*
Documents/LaTeX/Report.aux
Documents/LaTeX/Report.aux
Documents/LaTeX/Report.bbl
Documents/LaTeX/Report.bcf
*.aux
*.toc
*.gz
*.out
*.lot
*.log
*.lof
*.fls
*.fdb_latexmk
*.blg
*.bcf
*.bbl
Code/KNN_Testing4.R
*.R
